[gcode_macro SMART_HOME]
gcode:
    {% if printer.toolhead.homed_axes != "xyz" %}
      BED_MESH_CLEAR
      G28
    {% endif %}
    {% if printer.quad_gantry_level.applied == False %}
      QUAD_GANTRY_LEVEL
      BED_MESH_PROFILE LOAD=default
      G28 Z # Home Z
    {% endif %}

[gcode_macro G32]
gcode:    
  PRINT_START
  
[gcode_macro PRINT_START]
gcode:
    {% set BED_TEMP = params.BED_TEMP|default(60)|float %}
    {% set EXTRUDER_TEMP = params.EXTRUDER_TEMP|default(190)|float %}

    G90 # absolute positioning
    # G1 X5 Y5 F7200 # Move to a position in the left front of the bed
    # M140 S{BED_TEMP} # Start bed heating (don't wait)
    M190 S{BED_TEMP} # wait for bed temp
    
    {% if printer.toolhead.homed_axes != "xyz" %}
      BED_MESH_CLEAR
      G28
    {% endif %}

    # M104 S150 #  set extruder temp to 150 (don't wait)
    # M140 S{BED_TEMP} # Start bed heating (don't wait)
    
    {% if printer.quad_gantry_level.applied == False %}
      QUAD_GANTRY_LEVEL
      BED_MESH_PROFILE LOAD=default
      G28 Z # Home Z
    {% endif %}

    G92 E0 # Set extrusion distance to 0

    G90 # Use absolute coordinates
    G1 X5 Y5 F7200 # Move to a position in the left front of the bed
    M109 S{EXTRUDER_TEMP} # wait for extruder temp ; Do this here so the extruder isn't oozing during the G29
    G1 Z0.6 # Move nozzle above 0.6 mm of the bed

    G91 # Use relative mode
    G1 Y50 E10 F300 # prints a line in the front

    G1 E-1 # retract a little so we don't string across the bed
    G1 E0.9 # extrude back to 0

    G90 # absolute positioning

[gcode_macro PRINT_END]
gcode:
    SAVE_GCODE_STATE NAME=STATE_PRINT_END

    M400                           ; wait for buffer to clear
    G92 E0                         ; zero the extruder
    G1 E-10.0 F3600                ; retract filament

    G91                            ; relative positioning
    G0 Z1.00 X20.0 Y20.0 F20000    ; move nozzle to remove stringing
    TURN_OFF_HEATERS
    M107                           ; turn off fan
    G1 Z2 F3000                    ; move nozzle up 2mm
    G90                            ; absolute positioning
    G0  X125 Y250 F3600            ; park nozzle at rear
    BED_MESH_CLEAR

    RESTORE_GCODE_STATE NAME=STATE_PRINT_END MOVE=0

[gcode_macro EQUALIZE_BELTS]
gcode:
  SMART_HOME

  G0 X0 Y0 F20000
  G0 X290 Y0 F20000
  G0 X290 Y290 F20000
  G0 X0 Y290 F20000
  G0 X0 Y0 F20000

  G0 X290 Y290 F20000
  G0 X0 Y290 F20000
  G0 X290 Y0 F20000
  G0 X150 Y115 F20000